<div class="offset-2 col-lg-8">
  <div class="card">
      <div class="card-header card-header-warning">
          <h2 class="card-title">DigiSure Test - Ben Hall</h2>
      </div>
      
      <div class="card-body">
        <div class="row" style="margin-bottom:15px;">

          <% if user_signed_in? %>
            <div class="col-sm-3" style="text-align:center;">
                <%= link_to 'Your Bank Accounts'.html_safe, user_path(current_user), :class => "btn btn-sm btn-success" %>
            </div>
            <div class="col-sm-3" style="text-align:center;">
                <%= link_to 'All Bank Accounts'.html_safe, bank_accounts_path, :class => "btn btn-sm btn-success" %>
            </div>
            <div class="col-sm-3" style="text-align:center;">
                <%= link_to 'All Transactions'.html_safe, account_transactions_path, :class => "btn btn-sm btn-success" %>
            </div>
            <div class="col-sm-3" style="text-align:center;">
                <%= link_to 'Logout'.html_safe, destroy_user_session_path, method: :delete, :class => "btn btn-sm btn-success" %>
            </div>
          <% else %>
            <div class="col-sm-6" style="text-align:center;">
                <%= link_to 'Sign up'.html_safe, new_user_registration_path, :class => "btn btn-sm btn-success" %>
            </div>
            <div class="col-sm-6" style="text-align:center;">
                <%= link_to 'Login'.html_safe, new_user_session_path, :class => "btn btn-sm btn-success" %>
            </div>
          <% end %>

        </div>  
      </div>
  </div>
</div>



