<div class="offset-2 col-lg-8">
  <div class="card">
      <div class="card-header card-header-warning">
          <h2 class="card-title">Bank Account</h2>
      </div>
      
      <div class="card-body">
        <%= form_for @bank_account, :as => :bank_account do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= render "shared/error_messages", resource: @bank_account %>

          <div class="row" style="margin-bottom:15px;">
            <div class="col-sm-12">
              <%= f.label :account_number %>
              <%= f.text_field :account_number, autocomplete: "Account Number", :class => "form-control" %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <%= f.submit "Save", :class => "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>

  </div>
</div>



